# **STUDENT AI** - LOAD DATA

## Objectives

Import the dataset provided by the customer

## Inputs

Takes a comma separated values dataset as the input (.csv) from the customer.
In this case, a fictional dataset is sourced from Kaggle. The dataset contains 2 versions. 
1.  less features and more rows and no data issues.
2.  more features and less rows but also including some missing data.

This project will use the second set to demonstrate techniques that might be needed for real world datasets.

## Outputs

Saves the dataset from Kaggle as .csv in the inputs/dataset folder

## Additional Comments

A private kaggle account will be neccassary and the API key stored locally in a kaggle.json file.

---

# Change working directory

### Get current directory of this jupyter notebook as well as install the neccessary packages

In [1]:
import os
import pandas as pd
current_dir = os.getcwd()
current_dir

'/workspace/student-AI/jupyter_notebooks'

### Set directory to Project root (parent directory)

In [2]:
os.chdir(os.path.dirname(current_dir))
current_dir = os.getcwd()
print(f"New Directory: {current_dir}")

New Directory: /workspace/student-AI

# Import Dataset from Kaggle
This section would be replaced with the actual API to the educational facilities Database, or at least a manual import of the .csv file for each grade.

**Install kaggle package to access dataset directly through kaggle API:**

In [3]:
! pip install kaggle==1.5.12

Requirement already satisfied: kaggle==1.5.12 in /workspace/.pyenv_mirror/fakeroot/versions/3.8.18/lib/python3.8/site-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (1.16.0)
Requirement already satisfied: certifi in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2024.2.2)
Requirement already satisfied: python-dateutil in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2.8.2)
Requirement already satisfied: requests in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2.31.0)
Requirement already satisfied: tqdm in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (4.66.2)
Requirement already satisfied: python-slugify in /workspace/.pyenv_mirror/fakeroot/versions/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (8.0.4)
Requirement already satisfied: urllib3 in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from kaggle==1.5.12) (2.2.0)
Requirement already satisfied: text-unidecode>=1.3 in /workspace/.pyenv_mirror/fakeroot/versions/3.8.18/lib/python3.8/site-packages (from python-slugify->kaggle==1.5.12) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from requests->kaggle==1.5.12) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /workspace/.pyenv_mirror/user/3.8.18/lib/python3.8/site-packages (from requests->kaggle==1.5.12) (3.6)

Set Evironment Variable for Kaggle API based on kaggle.json file

In [4]:
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

#### Download student performance dataset from Kaggle - can be viewed on the site [here](https://www.kaggle.com/datasets/desalegngeb/students-exam-scores)

**CAUTION - SCRIPT WILL DELETE PREVIOUS COPY OF DATASET AND REPLACE WITH ONE DOWNLOADED DIRECT FROM KAGGLE**

In [5]:
! rm inputs/dataset/Expanded_data_with_more_features.csv
! rm inputs/dataset/Original_data_with_more_rows.csv

SourcePath = "desalegngeb/students-exam-scores"
DestinationPath = "inputs/dataset"   

from kaggle.api.kaggle_api_extended import KaggleApi

# Initialize Kaggle API
api = KaggleApi()
api.authenticate()

# Download dataset
api.dataset_download_files(dataset="desalegngeb/students-exam-scores", path="inputs/dataset", unzip=True)

---

# Inspect Dataset for correct load

Read dataset using Pandas library and display head of dataframe:

In [9]:
df = pd.read_csv(f"inputs/dataset/Expanded_data_with_more_features.csv", index_col=False)
df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

### Show initial dataset rows and datatypes:

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               30641 non-null  object
 1   EthnicGroup          28801 non-null  object
 2   ParentEduc           28796 non-null  object
 3   LunchType            30641 non-null  object
 4   TestPrep             28811 non-null  object
 5   ParentMaritalStatus  29451 non-null  object
 6   PracticeSport        30010 non-null  object
 7   IsFirstChild         29737 non-null  object
 8   NrSiblings           29069 non-null  float64
 9   TransportMeans       27507 non-null  object
 10  WklyStudyHours       29686 non-null  object
 11  MathScore            30641 non-null  int64
 12  ReadingScore         30641 non-null  int64
 13  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 3.3+ MB

---